@{
    ViewBag.Title = "Direct Coorprate Mandate | Welcome";
}

    <div ng-view></div>

    <!-- Javascript -->
<script type="text/javascript" src="../../Scripts/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../Scripts/js/jquery.noconflict.js"></script>
<script type="text/javascript" src="../../Scripts/js/modernizr.2.7.1.min.js"></script>
<script type="text/javascript" src="../../Scripts/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Scripts/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="../../Scripts/js/jquery-ui.1.10.4.min.js"></script>

<!-- Twitter Bootstrap -->
<script type="text/javascript" src="../../Scripts/js/bootstrap.js"></script>

<!-- load revolution slider scripts -->
<script type="text/javascript" src="../../Scripts/components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../../Scripts/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- load BXSlider scripts -->
<script type="text/javascript" src="../../Scripts/components/jquery.bxslider/jquery.bxslider.min.js"></script>
 <!-- Flex Slider -->
<script type="text/javascript" src="../../Scripts/components/flexslider/jquery.flexslider.js"></script>


<!-- parallax -->
<script type="text/javascript" src="../../Scripts/js/jquery.stellar.min.js"></script>

<!-- waypoint -->
<script type="text/javascript" src="../../Scripts/js/waypoints.min.js"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="../../Scripts/js/theme-scripts.js"></script>
<script type="text/javascript" src="../../Scripts/js/scripts.js"></script>

<script src="../../Scripts/amplify.js"></script>
<script src="../../Scripts/amplify/amplify.core.js"></script>
<script src="../../Scripts/amplify/amplify.store.js"></script>
<!-- Angular -->
<!-- 3rd party libraries -->
<script src="../../Scripts/angular.js"></script>
<script src="../../Scripts/angular-route.js"></script>


<script src="../../Scripts/angular-local-storage.min.js"></script>
<script src="../../Scripts/loading-bar.min.js"></script>
<script src="../../Scripts/modules/amplifyService.js"></script>
<script src="../../Scripts/toastr.js"></script>

<!-- Load app main script -->
<script src="../../Scripts/routes/app.js"></script>

<!-- Load services -->

<script src="../../Scripts/services/dataService.js"></script>
<script src="../../Scripts/services/authService.js"></script>
<script src="../../Scripts/services/authInterceptorService.js"></script>
<!-- Load controllers -->
<script src="../../Scripts/controllers/mainController.js"></script>
<script src="../../Scripts/controllers/hotelController.js"></script>
<script src="../../Scripts/controllers/flightController.js"></script>
<script src="../../Scripts/controllers/flight_DetailController.js"></script>
<script src="../../Scripts/controllers/flight_BookingController.js"></script>
<script src="../../Scripts/controllers/flight_ThankYouController.js"></script>
<script src="../../Scripts/controllers/carController.js"></script>
<script src="../../Scripts/controllers/cruiseController.js"></script>
<script src="../../Scripts/controllers/loginController.js"></script>
<script src="../../Scripts/controllers/indexController.js"></script>
<script src="../../Scripts/controllers/dashboardController.js"></script>
<script src="../../Scripts/controllers/bookingController.js"></script>
<script type="text/javascript">
    //toastr.success('dddd');
    enableChaser = 0;
//disable chaser
</script>

